@import "tailwindcss";

:root {
  --background: #ffffff;
  /* --foreground: #171717; */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --background: #0a0a0a; */
    /* --foreground: #ededed; */
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.herobg {
  background: url('https://i.pinimg.com/474x/8c/b5/06/8cb506ec673ebe3584442e75334e8864.jpg') no-repeat center center/cover;
  color: var(--foreground);
  /* opacity: 0.9; */
  
}

.herobg2 {
  background: url('../public/assets/new.jpg') no-repeat center center/cover;
  color: var(--foreground);
  /* opacity: 0.5; */
  
}